camelcase==0.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
et-xmlfile==1.1.0
-e git+https://github.com/sandropucp/sr_tape.git@c2c5b8f8660e4414e467aa9848584463f2235a71#egg=files_manipulation
idna==3.2
numpy==1.21.2
openpyxl==3.0.9
pandas==1.3.2
pdfminer.six==20200517
pdfplumber==0.5.28
Pillow==8.4.0
pycryptodome==3.12.0
PyPDF2==1.26.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
sortedcontainers==2.4.0
urllib3==1.26.6
Wand==0.6.7
